@*
    Encabezado del sitio público: popup de búsqueda + navbar.
    Los enlaces a secciones futuras (shop, cart, etc.) apuntan a "#" hasta que existan esas fases.
*@
<div class="search-popup">
    <div class="search-popup-container">
        <form role="search" method="get" class="search-form" asp-controller="Shop" asp-action="Index">
            <input type="search" id="search-form" class="search-field" placeholder="Buscar y presionar enter" value="" name="q" />
            <button type="submit" class="search-submit"><svg class="search"><use xlink:href="#search"></use></svg></button>
        </form>

        <h5 class="cat-list-title">Explorar</h5>

        <ul class="cat-list">
            <li class="cat-list-item"><a asp-controller="Shop" asp-action="Index" title="Ver toda la tienda">Ver toda la tienda</a></li>
        </ul>
    </div>
</div>

<header id="header" class="site-header header-scrolled position-fixed text-black bg-light">
    <nav id="header-nav" class="navbar navbar-expand-lg px-3 mb-3">
        <div class="container-fluid">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                <img src="~/images/main-logo.png" class="logo" alt="Mical">
            </a>
            <button class="navbar-toggler d-flex d-lg-none order-3 p-2" type="button" data-bs-toggle="offcanvas" data-bs-target="#bdNavbar" aria-controls="bdNavbar" aria-expanded="false" aria-label="Toggle navigation">
                <svg class="navbar-icon">
                    <use xlink:href="#navbar-icon"></use>
                </svg>
            </button>
            <div class="offcanvas offcanvas-end" tabindex="-1" id="bdNavbar" aria-labelledby="bdNavbarOffcanvasLabel">
                <div class="offcanvas-header px-4 pb-0">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                        <img src="~/images/main-logo.png" class="logo" alt="Mical">
                    </a>
                    <button type="button" class="btn-close btn-close-black" data-bs-dismiss="offcanvas" aria-label="Close" data-bs-target="#bdNavbar"></button>
                </div>
                <div class="offcanvas-body">
                    <ul id="navbar" class="navbar-nav text-uppercase justify-content-end align-items-center flex-grow-1 pe-3">
                        <li class="nav-item">
                            <a class="nav-link me-4 active" asp-area="" asp-controller="Home" asp-action="Index">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link me-4" href="#company-services">Servicios</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link me-4" asp-controller="Shop" asp-action="Index">Tienda</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link me-4" href="#latest-blog">Novedades</a>
                        </li>
                        <li class="nav-item">
                            <div class="user-items ps-5">
                                <ul class="d-flex justify-content-end list-unstyled">
                                    <li class="search-item pe-3">
                                        <a href="#" class="search-button">
                                            <svg class="search"><use xlink:href="#search"></use></svg>
                                        </a>
                                    </li>
                                    @if (User.Identity?.IsAuthenticated == true)
                                    {
                                        <li class="pe-3">
                                            <a asp-controller="Order" asp-action="Index" title="Mis pedidos" class="small text-reset text-decoration-none">Mis pedidos</a>
                                        </li>
                                        <li class="pe-3">
                                            <a asp-controller="Account" asp-action="Profile" title="Mi perfil">
                                                <svg class="user"><use xlink:href="#user"></use></svg>
                                            </a>
                                        </li>
                                        <li class="pe-3">
                                            <form asp-controller="Account" asp-action="Logout" method="post" class="m-0">
                                                <button type="submit" class="btn btn-link p-0 text-reset text-decoration-none" title="Cerrar sesión">Salir</button>
                                            </form>
                                        </li>
                                    }
                                    else
                                    {
                                        <li class="pe-3">
                                            <a asp-controller="Account" asp-action="Login" title="Iniciar sesión">
                                                <svg class="user"><use xlink:href="#user"></use></svg>
                                            </a>
                                        </li>
                                    }
                                    <li>
                                        <a asp-controller="Cart" asp-action="Index" class="position-relative" title="Carrito">
                                            <svg class="cart"><use xlink:href="#cart"></use></svg>
                                            <span class="js-cart-count badge rounded-pill bg-dark position-absolute top-0 start-100 translate-middle" style="display:none;font-size:.6rem;">0</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</header>
